body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.header {
    padding: 10px 40px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #eee;
}

.header__inner {
    width: 112px;
    height: 33px;
}


.header__ttl {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    color: #F5C800;
}


.body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}